.App {
	background: #163d80;
	font-family: 'Poppins', sans-serif;
	color: white;
}

footer {
	color: white;
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
}

footer .icon {
	color: #61dbfb;
}

footer a {
	text-decoration: none;
	color: white;
	transition: all 100ms ease-in-out;
	font-size: 15px;
}

footer a:hover {
	color: #435174;
	cursor: pointer;
}
