h1 {
	font-weight: 400;
	margin-top: 30px;
	font-size: 45px;
}

h2 {
	font-size: 50px;
}


.images {
	position: relative;
	left: -17px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}



@media (max-width: 900px) {
	h1 {
		font-size: 30px;
	}
}


