.Weather {
	max-width:  600px;
	border: 1px solid #163d80;
	background: linear-gradient(180deg, #305baa 0%, #4c6fac77 75%);
	box-shadow: 5px 5px 5px rgba(15, 15, 15);
	border-radius: 4px;
	margin: 30px auto;
	padding: 10px 15px;
	font-family: 'Poppins', sans-serif;
}





.form {
	font-size: 16px;
	border-radius: 4px;
	padding: 7px;
	border: 1px #163d80;
}

.button {
font-size: 16px;
border-radius: 4px;
border: 1px solid white;
background: #435174;
color: white;
padding: 5px 10px;
}

